/* 1) Le conteneur qui contient l'image */
#image1 {
    /* Permet la 3D */
    perspective: 1000px;
  }
  
  
  /* 2) L'image elle-même */
  #image1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform-style: preserve-3d; 
    transition: transform 0.2s ease-out; 
  

  }
  